<!DOCTYPE html>
<html lang="en">
<head>
    <title>QQMI Cost Object List</title>
    <meta charset="UTF-8">
    <style>
    td { padding: 5px; }
    .header td { border: 2px solid black; }
    </style>
</head>
<body>
    <h2>Cost Object List</h2>

    <p><a href="?view=overview">Back to overview</a></p>

    <table border="1">
    <tr class="header"><td>Description</td><td>Kerberos</td><td>Venmo</td></tr>
    {% for co in objects %}<tr><td>{{ co.description }}</td><td>{% if co.kerberos %}{{ co.kerberos }}{% else %}N/A{% endif %}</td><td>{% if co.venmo %}{{ co.venmo }}{% else %}N/A{% endif %}</td></tr>{% endfor %}
    </table>
</body>
</html>

