<!DOCTYPE html>
<html lang="en">
<head>
    <title>QQMI Overview</title>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Qazoo Quartermaster Interface</h2>

    <p>You are: {{ user }}.{% if write_access %} You have full QM access.{% endif %}</p>
    <p>Please contact your quartermaster with any questions.</p>

    <p>Tasks:</p>

    <ul>
        <li>File an item request</li>
        <li><a href="?mode=trips">Browse all requests by shopping trip</a></li>
        <li>See your reimbursement status</li>
        <li><a href="?mode=inventory">Review current inventory</a></li>
        <li><a href="?mode=locations">Browse storage locations</a></li>
        <li><a href="?mode=item_types">Review all known types of items</a></li>
        <li><a href="?mode=cost">Browse cost objects</a></li>
    </ul>
</body>
</html>

