<!DOCTYPE html>
<html lang="en">
<head>
    <title>QQMI Overview</title>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Qazoo Quartermaster Interface</h2>

    <p>You are: {{ user }}.{% if write_access %} You have full QM access.{% endif %}</p>
    <p>Please contact your quartermaster with any questions.</p>

    <p>Key tasks:</p>

    <ul>
        <li><a href="?mode=request_entry">File an item request</a></li>
        <li><a href="?mode=inventory">Review current inventory</a></li>
        <li><a href="?mode=personal_transactions">See your reimbursement status</a></li>
    </ul>

    <p>Secondary tasks:</p>

    <ul>
        <li><a href="?mode=trips">Browse all requests by shopping trip</a></li>
        <li><a href="?mode=locations">Browse storage locations</a></li>
        <li><a href="?mode=item_types">Review all known types of item</a></li>
        <li><a href="?mode=item_types_edit">Edit items, including aisle numbers</a></li>
        <li><a href="?mode=cost">Browse cost objects</a></li>
        <li><a href="?mode=reservations">Print reservation notices</a></li>
        <li><a href="?mode=review_balances">Review account balances</a></li>
        <li><a href="?mode=review_transactions">Review transactions</a></li>
        <li><a href="?mode=purchase_retirement_list">Retire purchases to inventory</a></li>
    </ul>
</body>
</html>

