Use this form to submit your items, one per row.

<ul>
<li>NOTES ON PERSONAL SUPPLIES:
    <ul>
    <li>To request an item for personal supplies, put your name in the "Cost Object" field.
    <li>Fridge space is limited. Please avoid ordering lots of personal supplies that require refrigeration.</ul>
    <li>Personal supplies are more complex to track than communal supplies. When possible, please request communal supplies.</li>
    <li>Personal supplies MUST be requested in quantities that can be purchased individually.
        <ul>
        <li>For example, do not request 1/2 cup of milk; if you need personal milk, and communal milk will not do, you must request a size of milk that is actually sold, such as 1 quart.</li>
        <li>If you request a smaller quantity than is available in an individual package, your request will be rounded up to the next size of package.</li>
    </li>
    </ul>
</li>
<li>NOTES ON CO-OP SUPPLIES:
    <ul>
    <li>To request an item for co-op, say so in the cost object field, and fill out the co-op date field.</li>
    <li>Please submit co-op supply requests even if we already have the relevant supplies, so that the items can be set aside if we have them, or purchased if not.
        <ul>
        <li>This DOES NOT apply to personal supplies.</li>
        </ul>
    </li>
    </ul>
<li>NOTES ON COMMUNAL SUPPLIES:
    <ul>
    <li>To request an item for communal uses, say so in the cost object field.</li>
    <li>You can request items for communal use even if you hope to use them for personal use; the tradeoff is that someone might eat them before you.</li>
    <li></li>
    </ul>
</li>
<li>GENERAL NOTES:
    <ul>
    <li>Be specific; I will get you any item that matches your description.
        <ul>
        <li>For example: if you specify "milk", you might get skim milk, 1% milk, 2% milk, goat's milk, almond milk, et cetera. You might want to specify "3 cups of 1% cow's milk" instead, if you have specific needs.</li>
        </ul>
    </li>
    <li>If an item is not available as requested, it may not be purchased; please specify what would be an appropriate substitute.</li>
    <li>If you can, please take the time to find the item you want in the "Formal Item" list.
        <ul>
        <li>If you can't find it, or if the formal item name doesn't accurately represent what you want, use the "Informal Description" box instead, and I'll assign a formal item name later.</li>
        </ul>
    </li>
    <li>Quantities are most useful when specified in ounces or other units of weight, except for fluids, which are best specified in cups or fluid ounces.</li>
    <li>Once you're satisfied with your requests, please change them to the "SUBMITTED" state. If you decide that you don't actually want an item, please change it to the "RETRACTED" state. You can amend your requests at any point until they've been updated to the "ACCEPTED" state or anything beyond.</li>
    </ul>
</li>
</ul>

