<!DOCTYPE html>
<html lang="en">
<head>
    <title>QQMI Reservations</title>
    <meta charset="UTF-8">
    <style>
    table { width: 100%; }
    td input { width: 100%; box-sizing: border-box; }
    td { padding: 5px; }
    .header td { border: 2px solid black; }
    .pagebreak { page-break-before: always; }
    </style>
</head>
<body>
    <h2>Reservations (Printable)</h2>

    <p><a href="?mode=overview">Back to overview</a></p>

{% for location, reservations in locations %}

    <div class="pagebreak"></div>

    <h2>INGREDIENT RESERVATION NOTICE</h2>

    <p>The following ingredients stored in this area are needed for co-op meals.</p>

    <p><b>Please be careful when using any of these ingredients.</b></p>

    <p><b>You can use them, but only if you ensure that the minimum quantities are left afterward.</b></p>

    <p>Each entry has a date after which this requirement no longer applies, because that day involves the co-op cycle that requires the ingredient. After that day’s co-op, you may disregard that line of this notice.</p>

    <p>If there are multiple entries for an ingredient, for which no date has passed, the <i>sum</i> of the quantities must be reserved.</p>

    <p><b>LOCATION: {{ location }}</b></p>

    <table border="1">
    <tr class="header"><td>Item Description</td><td>Quantity Required</td><td>Date Required</td></tr>
    {% for item, quantity, date in reservations %}
    <tr><td>{{ item }}</td><td>{{ quantity }}</td><td>{{ date }}</td></tr>
    {% endfor %}
    </table>

{% endfor %}
</body>
</html>

