{% if can_edit %}
    {% if edit %}
        <p><a href="{{ editlink }}">Exit Edit view.</a></p>
    {% else %}
        <p><a href="{{ editlink }}">Go to Edit view.</a></p>
    {% endif %}
{% endif %}
<p><a href="{{ inventorylink }}">Go to Inventory Review Checklist</a></p>
<p><a href="{{ comparelink }}">Go to Inventory Comparison Form</a></p>
<p><a href="{{ shoppinglink }}">Print Shopping List</a></p>
{% if can_edit %}
<p><a href="{{ reservelink }}">Go to Reservation Submission form</a></p>
<p><a href="{{ submitdraftlink }}">Submit all drafts</a></p>
{% endif %}
<p>Found {{ count }} requests for this shopping trip:</p>
