{% if can_edit %}
    <p>
    {% if edit %}
        <a href="{{ editlink }}">Exit Edit view</a>
    {% else %}
        <a href="{{ editlink }}">Go to Edit view</a>
    {% endif %}
    | <a href="{{ submitdraftlink }}">Submit all drafts</a>
    | <a href="{{ procurementlink }}">Go to Procurement Processing form</a>
    | <a href="{{ unloadlink }}">Go to Unloading Processing form</a>
    | <a href="{{ shoppinglink }}">Print Shopping List</a>
    </p>
{% endif %}
<p>Found {{ count }} requests for this shopping trip:</p>
