<!DOCTYPE html>
<html lang="en">
<head>
    <title>QQMI {{ title }}</title>
    <meta charset="UTF-8">
    <style>
    table { width: 100%; }
    td input { width: 100%; box-sizing: border-box; }
    td { padding: 5px; }
    .header td { border: 2px solid black; }
    </style>
    {% if optionsets %}
    <script>
    window.onload = function() {
        var optionsets = {{ optionsets|safe }};
        var selects = document.getElementsByTagName("select");
        for (var i = 0; i < selects.length; i++) {
            var select = selects[i];
            if (select.attributes.optionset !== undefined) {
                var optionset = optionsets[select.attributes.optionset.value];
                var active = (select.attributes.optionactive !== undefined ? select.attributes.optionactive.value : null);
                if (optionset !== undefined) {
                    for (var j = 0; j < optionset.length; j++) {
                        var option = document.createElement("option");
                        option.value = optionset[j][0];
                        option.textContent = optionset[j][1];
                        option.selected = (option.value === active);
                        select.appendChild(option);
                    }
                }
            }
        }
    };
    </script>
    {% endif %}
</head>
<body>
    <h2>{{ title }}</h2>

    <p><a href="?mode=overview">Back to overview</a></p>

    {% if optionsets %}
    <noscript><b>Warning: you have scripts disabled, which means that some elements of this page may malfunction.</b></noscript>
    {% endif %}

    {{ instructions|safe }}

    {% if action %}
    <form action="{{ action }}" method="POST">
    {% endif %}
    <table border="1">
    <tr class="header">
        {% for column in columns %}
        <td>{{ column }}</td>
        {% endfor %}
    </tr>
    {% for row in rows %}
    <tr>
        {% for ctype, cname, options, cell in row %}
        <td>
            {% if ctype == "url" %}
                {% if cell %}
                <a href="{{ cname }}">{{ cell }}</a>
                {% endif %}
            {% elif ctype == "dropdown" %}
            <select name="{{ cname }}">
                {% for optionname, optionvalue in options %}
                <option value="{{ optionname }}"{% if optionname == cell %} selected{% endif %}>{{ optionvalue }}</option>
                {% endfor %}
            </select>
            {% elif ctype == "dropdown-optionset" %}
            <select name="{{ cname }}" optionset="{{ options }}" optionactive="{{ cell }}"></select>
            {% elif ctype == "text" %}
            <input type="text" value="{{ cell }}" name="{{ cname }}">
            {% elif ctype == "date" %}
            <input type="date" value="{{ cell }}" name="{{ cname }}">
            {% elif ctype == "checkbox" %}
            <input type="checkbox" name="{{ cname }}" {% if cell %}checked{% endif %}>
            {% else %}
                {% if cell %}
                {{ cell }}
                {% endif %}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    {% if creation %}
    <tr>
        {% for ctype, cname, options, column in creation %}
        <td>
            {% if ctype == "dropdown" %}
            <select name="{{ cname }}">
                {% for optionname, optionvalue in options %}
                <option value="{{ optionname }}"{% if optionname == cell %} selected{% endif %}>{{ optionvalue }}</option>
                {% endfor %}
            </select>
            {% elif ctype == "dropdown-optionset" %}
            <select name="{{ cname }}" optionset="{{ options }}" optionactive="{{ column }}"></select>
            {% elif ctype == "text" %}
            <input type="text" value="{{ column }}" name="{{ cname }}">
            {% elif ctype == "date" %}
            <input type="date" value="{{ column }}" name="{{ cname }}">
            {% else %}
            {{ column }}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endif %}
    </table>
    {% if action %}
    <input type="submit" value="UPDATE">
    </form>
    {% endif %}
</body>
</html>

